<a href="https://colab.research.google.com/github/kaushil24/DS-Cookbook101/blob/master/Pandas_Recipes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some delicious ingredients for cooking a delicious Data Science dish
* Reading CSV
* Get list of categorical and numeric columns
* Change Column Order
* Conunt Number of Unique Values
* Set Column as Index
* Dropping a column
* Sum of columns in dataframe
* Replace string representing null values with np.NaN
* Find total null values in DF
* Corelation Matrix
* Find non null values
* Drop columns wihth null columns greather than threshold
* Change datatype of columns
* Brief summary of Df
* Fill null values
* One hot encoding
* **Bonus recipes**

# Pandas

## Reading CSV:

```
df = pd.read_csv("file.csv", sep = ',' , na_values='absent')
```<br>
* sep = seperators <br>
* na_values = Some datasets might have "absent" or other strings as null values. To replace them with np.NaN, use na_values, to tell pandas that these strings are supposed to be treated as null values.

## Get list of categorical and numeric columns:

```
cat_columns = df.select_dtypes(include='object').columns.tolist()
num_columns = df.select_dtypes(exclude='object').columns.tolist()
```

## Change column order

Suppose the original order of culumns in dataframe is<br>
``` df['col_3', 'col_4', 'col_2', 'col_1']``` <br>
To reorder the columns, do the following:

```
df = df[['col_1', 'col_2', 'col_3', 'col_4']]
```

## Count number of unique values

**NOTE: The following is a function that belongs to a series.** <br>
This function returns a seris with the keyas as the unique entities present in the calling series and the values as the number occurance of those values:

```
df['col_name'].value_couts()
```

## Set a column as index

```df.set_index(col_name, drop=bool)``` <br>
* col_name = name of column to set as index
* drop = True if you want to drop the indexed column

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html

## Dropping a column in data frame

```df.drop(name, axis, inplace=bool)```
* name = name of columns or a list of columns OR keys of rows
* axis = 0-> rows | 1->columns
* inplace = If True, makes changes in iteslt. If false, returns a new dataframe with dropped columns

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

## Sum of columns in dataframe

``` df.sum() ``` <br>
Returns a pd.Series with the keys being the column name of dataframe and the values being the sum of those columns. <br>
*i.e.* It is used to find sum of all the columns <br>
* **NODE** It the columns is a string, it'll concat all the elements of that columns.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html

## Replace string representing null values with np.NaN

Suppose your data frame has "Absent" as null value, then to replace "Absent" with np.NaN, the following snippet can be used

```
import numpy as np
df.replace(to_replace="Absent", value=np.NaN, inplace=True)
```

## Find total null values in DF

```df.isnull().sum().sort_values(ascending=False)```

## Corelation Matrix

```
df.corr()
```

## Find non null values:

```df.notnull()```
<br>Returns a series.

## Drop columns with null values greater than a threshold:



```
df.drop(df.loc[: ,df.isnull().sum()> theta].columns, axis=1, inplace=True)
```
**EXPLAINATION**
1. _df.isnull().sum() > theta_ : Returns as series where the key is column name and the values are a bool values. Something of the type: <br>
> * _col_1_ True
> * _col_2_ False
> * _col_3_ False
> ...
This will serve as arguments to df.loc[ ].
2. _df.loc[rows, columns ]_ : The second argument in df.loc is a boolean pd.series. df.loc will return a pd.DataFrame with all the rows and the columns which were "true" in the pd.Series provided. 
3. _df.loc[ ].columns_ : Returns a list of columns, whose total null values are greater than theta.
4. df.drop(): Drops these columns.

## Change data type of all rows in a column (eg str to int)

```
df['col_name'] = df['col_name'].astype(int)
```

## Brief summary of a series or DF

```df.describe() ``` <br>
or <br>
```series.describe()```

## Get info about datatypes of various columns in dataframe

```
df.info()
```

## Fill null values:

```
df.col_name.fillna(value, inplace=True)
<br> **OR**
<br> 
df.loc[df.col_name.isnull(), ['col_name']] = value
```

## Datatype of a cell in Dataframe

**Know the index number lies**
```
df.loc[df['column_name'].isnull(), ['column_name']][:5]
```

```
type(df['com_name'][index_no])
```

## Know datatype of columns in a dataframe

```
df.dtypes
```

## One hot Encoding:

__NOTE__ : At times, some values might not be present in our test data but might otherwise be present in our test data. To deal with such scenario,
refer to this link:
http://queirozf.com/entries/one-hot-encoding-a-feature-on-a-pandas-dataframe-an-example

```
df_encoded = pd.get_dummies(df, columns = ['categorical_col_1', 'categorical_col_2'])
```
* columns = list of columns you want to one hot encode.
* It automatically detetcs the categorical features and one hot encodes them and appends them to dataframe and returns this new dataframe.

### In order to make selected features one hot encoded, perform the following:

```
df_encoded = df.join(pd.getdummies(df['categirical_col_1', 'categorical_col_2']).drop(['categorical_col_1', 'categorical_col_2'], axis = 1)
```

# Bonus Recipes 
Some random hacks

## To generate a summary of your dataset with way more detail and aesthetics

<h4> TRY THIS :D

```
import pandas_profiling as pp
pp.ProfileReport(df)
```